/* small screen */
.container {
  background-color: ghostwhite;
}

.addCovid {
  max-width: 1200px;
  margin: auto;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
}

.addCovid__left {
  margin-bottom: 2.5rem;
}

.addCovid__image {
  max-width: 100%;
  height: auto;
  border-radius: 25px;
  display: none;
}

.addCovidForm__form {
  margin-bottom: 1.5rem;
}

.addCovidForm__title {
  font-size: 2.44rem;
  color: #06d6a0;
  margin-bottom: 2.5rem;
  text-align: center;
}

.addCovidForm__labelTitle {
  color: #64748b;
  text-align: left;
  display: block;
}

.addCovidForm__formAddCovid {
  border: 1px solid #06d6a0;
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.addCovidForm__button {
  background-color: #06d6a0;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 10px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  margin-top: 1rem;
}

/* large screen */
@media (min-width: 992px) {
  .addCovid {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: left;
  }

  .addCovid__image {
    display: block;
    margin-top: 5rem;
  }

  .addCovid__left {
    flex-basis: 45%;
  }

  .addCovidForm__title {
    text-align: left;
  }

  .addCovidForm__form {
    flex-basis: 45%;
  }

  .addCovidForm__labelTitle {
    margin: 0;
  }
}
